@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/iranyekan/woff/iranyekanwebbold.woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/iranyekan/woff/iranyekanwebthin.woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/iranyekan/woff/iranyekanweblight.woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/iranyekan/woff/iranyekanwebregular.woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/iranyekan/woff/iranyekanwebmedium.woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/iranyekan/woff/iranyekanwebextrabold.woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/iranyekan/woff/iranyekanwebblack.woff");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url("../../fonts/iranyekan/woff/iranyekanwebextrablack.woff");
}

html {
  font-size: 14px;
  max-width: 100%;
  overflow-x: hidden;

  --sidebar-width: 240px;
}

body {
  background: var(--gradient-primary);

  @apply bg-fixed bg-cover bg-no-repeat text-inverse-high;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: var(--gradient-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0deg 0% 56%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}
