button,
input,
optgroup,
select,
textarea {
  @apply max-w-full;
}

:not(.input-group) .input:not([type="checkbox"]):not([type="radio"]),
:not(.input-group) .textarea,
:not(.input-group) .select,
:not(.input-group) .date-picker {
  width: 100%;
}

::-webkit-input-placeholder {
  @apply text-inverse-medium opacity-60 !important;
}

::placeholder {
  @apply text-inverse-medium opacity-60 !important;
}

.input:invalid,
.input.invalid,
.select:invalid,
.select.invalid,
.date-picker.invalid,
.date-picker:invalid {
  @apply border border-red;
}

.ltr .input-group > .button:not(:last-child),
.ltr .input-group > .icon:not(:last-child),
.ltr .input-group > .input:not(:last-child),
.ltr .input-group > .select:not(:last-child),
.ltr .input-group > .date-picker:not(:last-child) {
  @apply rounded-tr-none rounded-br-none;
}

.ltr .input-group > .button:not(:first-child),
.ltr .input-group > .icon:not(:first-child),
.ltr .input-group > .input:not(:first-child),
.ltr .input-group > .select:not(:first-child),
.ltr .input-group > .date-picker:not(:first-child) {
  @apply rounded-tl-none rounded-bl-none;
}

.rtl .input-group > .button:not(:last-child),
.rtl .input-group > .icon:not(:last-child),
.rtl .input-group > .input:not(:last-child),
.rtl .input-group > .select:not(:last-child),
.rtl .input-group > .date-picker:not(:last-child) {
  @apply rounded-tl-none rounded-bl-none;
}

.rtl .input-group > .button:not(:first-child),
.rtl .input-group > .icon:not(:first-child),
.rtl .input-group > .input:not(:first-child),
.rtl .input-group > .select:not(:first-child),
.rtl .input-group > .date-picker:not(:first-child) {
  @apply rounded-tr-none rounded-br-none;
}

.checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}

.radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

.date-picker {
  @apply bg-content w-full border-none rounded px-3 py-2 text-base !important;
}

.rdw-editor-toolbar {
  @apply text-black-transparent;
}

.rdw-editor-wrapper .rdw-editor-toolbar {
  @apply bg-content rounded;
}

/* .rdw-editor-wrapper .rdw-option-wrapper {
  @apply bg-white border-none;
} */

.rdw-editor-toolbar [class$="-modal"] {
  transform: translateX(-50%);

  @apply shadow-sm rounded;
}

.rdw-editor-toolbar .rdw-dropdown-optionwrapper {
  width: 100%;
}

.rdw-editor-wrapper {
  @apply bg-white rounded p-4 text-black-transparent;
}

.select option {
  @apply text-black-transparent;
}
