.media-list .file-preview {
  @apply w-20 h-20 rounded bg-content p-2 flex-col justify-between;
}

.media-list .file-preview svg {
  @apply text-2xl;
}

.media-select .file-preview {
  @apply h-28 items-center justify-center;
}

.media-select .file-preview svg {
  @apply text-6xl;
}

.media-select .file-preview .file-name {
  @apply hidden;
}

.file-active {
  @apply shadow-outline !important;

  --tw-shadow: 0 0 0 3px var(--color-inverse-higher) !important;
}
