.modal {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .modal {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
}

.modal-body {
  max-height: 80vh;
}
