.rc-notification {
  @apply z-max !important;
}

div.rc-notification-notice {
  border-radius: 0.3rem;
  background: var(--gradient-primary);

  @apply rounded-md pl-4 pr-6 py-2 shadow-sm;
}

div.rc-notification-notice.status-success {
  @apply text-green;
}

div.rc-notification-notice.status-info {
  @apply text-blue;
}

div.rc-notification-notice.status-error {
  @apply text-red;
}

span.rc-notification-notice-close-x {
  text-shadow: none;

  @apply text-inverse-higher;
}
