.rc-pagination {
  @apply flex;
}

.rc-pagination > li {
  @apply mx-2;
}

.rc-pagination > li svg {
  @apply mx-0;
}

.rc-pagination .rc-pagination-item,
.rc-pagination .rc-pagination-prev,
.rc-pagination .rc-pagination-next,
.rc-pagination .rc-pagination-jump-prev,
.rc-pagination .rc-pagination-jump-next {
  @apply h-auto flex items-center justify-center rounded;
}

.rc-pagination .rc-pagination-item-active a,
.rc-pagination .rc-pagination-item:hover a {
  @apply bg-primary text-primary-inverse;
}

.rc-pagination .rc-pagination-item a {
  @apply px-4 py-2 text-base;
}
