.popover-primary {
  @apply bg-primary text-primary-inverse !important;
}

.popover-primary::after {
  @apply text-primary !important;
}

.popover-secondary {
  @apply bg-secondary text-secondary-inverse  !important;
}

.popover-secondary::after {
  @apply text-secondary !important;
}

.popover-tertiary {
  @apply bg-tertiary text-tertiary-inverse !important;
}

.popover-tertiary::after {
  @apply text-tertiary !important;
}

.popover-green {
  @apply bg-green text-white !important;
}

.popover-green::after {
  @apply text-green !important;
}

.popover-red {
  @apply bg-red text-white border-red !important;
}

.popover-red::after {
  @apply text-red !important;
}

.popover-orange {
  @apply bg-orange text-white border-orange !important;
}

.popover-orange::after {
  @apply text-orange !important;
}

.popover-dark {
  @apply bg-black-transparent text-white border-black-transparent !important;
}

.popover-dark::after {
  @apply text-black-transparent !important;
}

.__react_component_tooltip.place-left::after {
  border-left-color: currentColor !important;
}

.__react_component_tooltip.place-right::after {
  border-right-color: currentColor !important;
}

.__react_component_tooltip.place-top::after {
  border-top-color: currentColor !important;
}

.__react_component_tooltip.place-bottom::after {
  border-bottom-color: currentColor !important;
}
