.rst__moveHandle,
.rst__loadingHandle {
  background: var(--color-content)
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSI0MiI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuOSIgPjxwYXRoIGQ9Ik0xNCAxNS43aDE0LjQiLz48cGF0aCBkPSJNMTQgMjEuNGgxNC40Ii8+PHBhdGggZD0iTTE0IDI3LjFoMTQuNCIvPjwvZz4KPC9zdmc+)
    no-repeat center !important;

  @apply border-none text-inverse-high !important;
}

.rst__row {
  @apply rounded-xl shadow-content overflow-hidden !important;
}

.rst__rowContents {
  @apply bg-content text-inverse-high border-none !important;
}

.rst__rowLandingPad::before {
  @apply bg-content rounded-xl !important;
}

.rst__rowCancelPad::before {
  @apply bg-red-dark rounded-xl !important;
}

.rst__placeholder::before {
  @apply rounded-xl;
}
