.data-table.table-striped .tbody .tr:nth-of-type(odd) {
  @apply bg-content;
}

.data-table .tfoot {
  @apply border-t-2;
}

.data-table.table-bordered {
  @apply border-gray border-opacity-25 border;
}

.data-table.table-bordered .tr:last-child .td {
  @apply border-b-0;
}

.data-table.table-bordered .th,
.data-table.table-bordered .td {
  @apply m-0 border-b border-r border-gray border-opacity-25;
}

.ltr .data-table.table-bordered th:last-child,
.ltr .data-table.table-bordered td:last-child {
  @apply border-r-0;
}

.rtl .data-table.table-bordered th:last-child,
.rtl .data-table.table-bordered td:last-child {
  @apply border-l-0;
}

.data-table.table-bordered tfoot tr:first-child td {
  @apply border-t-2;
}

.data-table .thead .th {
  text-align: inherit;
}

.table-resizer {
  touch-action: none;
}
