.x-center {
  transform: translateX(-50%);
  left: 50%;
}

.y-center {
  transform: translateY(-50%);
  top: 50%;
}

.dir-ltr {
  direction: ltr;
}

.dir-rtl {
  direction: rtl;
}

.gradient-primary {
  background: var(--gradient-primary);
}
